<% include partials/top %>

<div class="container">
	
	<h1><%= title %></h1>

	<p>This content should only be viewed by logged in <strong>Admin</strong> users</p>

</div>

<% include partials/bottom %>
