<% include partials/top %>

<div class="container mt-3">
	
	<h1 class="text-center"><%= title %></h1>

	<a class="btn btn-outline-dark btn-lg btn-block" href="/users/signup">Signup</a>

	<a class="btn btn-outline-dark btn-lg btn-block" href="/users/login">Login</a>	

</div>

<% include partials/bottom %>
