<% include partials/top %>

<div class="container">
	
	<h1><%= title %></h1>

	<table class="table">
		
		<thead class="thead-dark">
			
			<tr>
				
				<th></th>
				<th></th>

			</tr>

		</thead>

		<tbody>
			
			<tr>
				
				<th>Username</th>
				<th><%= userName %></th>

			</tr>

			<tr>
				
				<th>Email</th>
				<th>asdf</th>

			</tr>

			<tr>
				
				<th>Other Info</th>
				<th>asdf</th>

			</tr>

		</tbody>

	</table>

</div>

<% include partials/bottom %>
